<div class="banner">
  <div class="banner-text">
    <h1>Step to tech</h1>
    <h2>Dê um pulo na sua carreira tech</h2>
    <%= link_to "Entrar", empresas_path, class: "btn btn-info" %>
  </div>
</div>