<div class="container">

  <h1>Candidatos filtrados para esta vaga</h1>

  <% @usuarios.each do |usuario| %>
    <%= <h4> usuario.nome </h4> %>
    <%= <a href="#">usuario.email </a> %>
  <% end %>

</div>