<div class="container">

  <h1><%= @empresa.nome %></h1>

  <h4>Descrição: <%= @empresa.descricao %></h4>

  <%= link_to "Vagas disponíveis", empresa_vagas_path(@empresa), class: "btn btn-info" %>
  <br>
  <%= link_to "Voltar", :back %>

</div>